@import "fonts.less";
@import "colours.less";
@import "transitions.less";

@footerHeight:		200px;

html {
	height:			100%;
	
	body {
		height:				100%;
		
		#wrapper {
			min-height: 		100%;
			height: 			auto !important;
			height: 			100%;
			margin: 			0 auto -@footerHeight;

			#hedgehog {
				width: 300px;
				height: 600px;
				background:	brown;
				position: absolute;
				bottom: 100px;
				left: 75px;
			}

			#nav {
				background:		red;


				float:			left;

				width:			350px;
				height:			100%;

				padding-left:	50px;

				// Transition properties.
				.trans-ease;
				.trans-second;
				.trans-width;

				#name-container {
					background:		yellow;

					height:			170px;
					padding-top: 	30px;

					#name-badge {
						background:		white;


						width:			200px;
						height:			100px;
						line-height: 	40px;
						padding-top: 	20px;

						font-family: 	emmi;
						font-size:		@big;
						text-align: 	center;

						border:			1px solid #CCC;
						box-shadow: 	5px 5px 5px #505050;

						#job {
							font-size: 	@medium;
						}
					}
				}

				@media screen and (max-width: 650px) {
					background:		magenta;

					width:			20px;
					padding-left:	0px;
				}
			}

			#content {
				height:			100%;


				background:		blue;

				@media screen and (max-width: 800px) {
					background: 		pink;
				}
			}

			#push {
				height:			(@footerHeight - 2);
				clear:			both;

				border-top:		2px solid black;

			}


		}

		#footer {
			height:			@footerHeight;
			clear:			both;
			position: 		relative;

			#copyright {
				p {
					position:		absolute;
					bottom:			10px;
					left:			10px;
				}
			}

			#flags {
				background: 		purple;

				margin-top:			2px;
				height:				(@footerHeight - 2);

				float:				right;

				// TODO: Change to img
				span {
					background:		skyblue;

					width: 			50px;
					float: 			right;
				}
			}
		}
	}
}
