@import "fonts.less";
@import "colours.less";
@import "transitions.less";

@footerHeight:		200px;

html {
	height:			100%;
	
	body {
		height:				100%;
		
		#wrapper {
			min-height: 		100%;
			height: 			auto !important;
			height: 			100%;
			margin: 			0 auto -@footerHeight;

			#hedgehog {
				width: 199px;
				height: 396px;

				position:	absolute;
				bottom: 100px;
				left: 75px;

				#hog-body {
					position:	absolute;
					width: 		199px;
					height: 	396px;

					display: 	block;
					z-index:	1;

					background: url(../../Images/hedgehog_body.png);					
				}
				#hog-arm {
					position:	absolute;
					width:		127px;
					height:		44px;

					top:		120px;
					left:		95px;

					-webkit-transform: 			rotate(20deg);
					-webkit-transform-origin: 	12px 17px;

					display:	block;
					z-index: 	0;

					background: url(../../Images/hedgehog_arm.png);
				}

				//background:	brown;
			}

			#nav {
				//background:		red;


				float:			left;

				width:			350px;
				height:			100%;

				padding-left:	50px;

				// Transition properties.
				.trans-ease;
				.trans-second;
				.trans-width;

				#name-container {
					//background:		yellow;

					height:			170px;
					padding-top: 	30px;

					#name-badge {
						//background:		white;


						width:			200px;
						height:			100px;
						line-height: 	40px;
						padding-top: 	20px;

						font-family: 	emmi;
						font-size:		@big;
						text-align: 	center;

						border:			1px solid #CCC;
						box-shadow: 	5px 5px 5px #505050;

						#job {
							font-size: 	@medium;
						}
					}
				}

				@media screen and (max-width: 650px) {
					//background:		magenta;

					width:			20px;
					padding-left:	0px;
				}
			}

			#content {
				height:			100%;


				//background:		blue;

				@media screen and (max-width: 800px) {
					//background: 		pink;
				}
			}

			#push {
				height:			(@footerHeight - 2);
				clear:			both;

				border-top:		2px solid #808080;

			}


		}

		#footer {
			height:			@footerHeight;
			clear:			both;
			position: 		relative;

			#copyright {
				position:		absolute;
				width:			100%;

				bottom:			3px;
				text-align: 	center;
			}

			#flags {
				//background: 		purple;

				margin-top:			2px;
				height:				(@footerHeight - 2);

				float:				right;

				// TODO: Change to img
				span {
					//background:		skyblue;

					width: 			50px;
					float: 			right;
				}
			}
		}
	}
}
